@keyframes dropdown-menu {
	0%{transform: translateY(16px); opacity: 0}
	100%{transform: translateY(0px); opacity: 1}
	0%{transform: translateY(16px); opacity: 0}
}
@keyframes loader {
	0% {transform: rotate(0deg) scale(1, 1)}
	25% {transform: rotate(360deg) scale(1.5, 1.5);}
	50% {transform: rotate(0deg) scale(1, 1)}
	75% {transform: rotate(-360deg) scale(1.5, 1.5);}
	100% {transform: rotate(0deg) scale(1, 1)}
}
@keyframes shake {
	0%{transform: translate(1px, 1px) rotate(0deg)};
	20%{transform: translate(-1px, -1px) rotate(-1deg)};
	40%{transform: translate(-2px, 2px) rotate(2deg)};
	60%{transform: translate(0px, -1px) rotate(0deg)};
	80%{transform: translate(1px, 0px) rotate(1deg)};
	100%{transform: translate(0px, 0px) rotate(0deg)};
}
#quickLinks a:hover {
	transform: scale(1.05);
}
.dropdown-menu {
	animation: dropdown-menu .3s;
}
.loader {
	animation: loader 3s infinite;
}
.nav-link:hover > span.ico, .navbar-brand:hover {
	animation: shake .25s;
}