@keyframes dropdown-menu {
    0% {
        transform: translateY(1rem);
        opacity: 0
    }
    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg) scale(1, 1)
    }
    25% {
        transform: rotate(360deg) scale(1.5, 1.5)
    }
    50% {
        transform: rotate(0deg) scale(1, 1)
    }
    75% {
        transform: rotate(-360deg) scale(1.5, 1.5)
    }
    100% {
        transform: rotate(0deg) scale(1, 1)
    }
}

@keyframes shake {
    0% {
        transform: translate(.1rem, .05rem) rotate(0deg)
    }
    20% {
        transform: translate(-.05rem, -.05rem) rotate(-8deg)
    }
    40% {
        transform: translate(-.1rem, .1rem) rotate(-2deg)
    }
    60% {
        transform: translate(0, -.1rem) rotate(-7deg)
    }
    80% {
        transform: translate(.1rem, 0) rotate(-3deg)
    }
    100% {
        transform: translate(0, 0) rotate(0deg)
    }
}

.dropdown-menu {
    animation: dropdown-menu 0.2s;
}

.loader {
    animation: loader 3s infinite;
}

.nav-link:hover > .ico, .nav-link:hover > .fa, .navbar-brand:hover, #footerLogo:hover {
    animation: shake 0.2s;
}

#quickLinks a:hover {
    transform: scale(1.05);
}
