.upper-cloud {
	animation: upper-cloud 30s infinite linear;
}

.lower-cloud {
	animation: lower-cloud 30s infinite linear;
	
}
 .cloud-left, .cloud-right {
	transition: all 0.5s;
	user-select: none;
 }
 
.cloud-left:hover {
	transform: rotate(2deg) translateY(8px);
}

.cloud-right:hover {
	transform: rotate(-2deg) translateY(8px);
}

@keyframes upper-cloud {
	0% {background-position: 80 bottom;}
	50% {background-position: -80 bottom;}
	100% {background-position: 80 bottom;}
}

@keyframes lower-cloud {
	0% {background-position: 80 top;}
	50% {background-position: -80 top;}
	100% {background-position: 80 top;}
}
