.navbar {
	max-width: 1000px;
	padding: 4px;
	margin: auto;
}

div#menuBackground{
	background-color: @ini_background_other;
}

a.dropdown-item {
	&:active, &:hover {
		background-color: @ini_background_other;
		color: white;
	}
}

.container-fluid {
	padding: 0px;
	background-color: white;
}

div.carousel-caption {
	background-color: #ff480088;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	margin: auto;
}

div#mainPageTimer {
	text-align: center;
	font-size: 150%;
}

h1, h2, h3, h4, h5 {
	margin-top: 1rem;
	padding: 3px 6px;
}

h1 {
	background-color: @ini_background_other;
	color: @ini_background;
	border-style: solid;
	border-width: 1px;
	border-color: @ini_background_other;
	border-radius: 4px;
}

p {
	padding-left: 6px;
	padding-right: 6px;
}

button {
	background-color: @ini_background;
	color: @ini_text;
	border-style: solid;
	border-width: 1px;
}

.btn-primary {
	background-color: @ini_background_other;
	border-color: @ini_background_other;
	color: @ini_background;
	&:hover {
		background-color: darken(@ini_background_other, 15%);
		border-color: darken(@ini_background_other, 20%);
		color: @ini_background;
	}
}

.btn-secondary {
	background-color: @ini_background;
	border-color: @ini_background;
	color: @ini_background_other;
	&:hover {
		background-color: darken(@ini_background, 15%);
		border-color: darken(@ini_background, 20%);
		color: @ini_background_other;
	}
}

label {
	width: 100%;
}