/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 16, 2015, 10:38:40 PM
    Author     : miso
*/

@media(min-width:855px){
    .page{
        width: 66%;
        float: left;
    }
    .fkssidebar_R{
        width: 33%;
        float:right;
    }
}
@media(max-width:855px){
    .page{
        width: 100%
    }
    .fkssidebar_R{
        width: 100%;
    }
}
.page,.fkssidebar_R{
    padding: 0em 1em 1.5em 1.5em;
}

