:root {
	--primary: @ini_background_alt;
	--secondary: @ini_background_neu;
}
html, body {
	min-height: 100%;
}
body {
	background: url("images/wallpaper.png?v=2") no-repeat center top;
	background-size: 100% auto;
	display: flex;
	flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	margin: 0;
}
footer {
	flex-shrink: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
}
a {
	color: @ini_link;
	transition: 0.5s all;
	a:hover, a:active {
		color: lighten(@ini_background_alt, 20%);
	}
}
button {
	background-color: @ini_background;
	border: 1px solid @ini_background_alt;
	border-radius: .25rem;
	color: @ini_background_alt;
	transition: 0.5s all;
	&:hover, &:active, &:focus {
		border: 1px solid @ini_background_alt;
		background-color: lighten(@ini_background_alt, 20%);
		color: @ini_background;
		box-shadow: none;
	}
}
h1, h2, h3, h4, h5 {
	color: @ini_background_alt;
	padding: 6px 0px;
	text-align: left;
}
h1 {
	border-bottom: 2px solid @ini_background_alt;
}
img {
	max-width: 100%;
}
label {
	width: 100%;
}
p a, .li a, a.media {
	display: inline-block;
}
table, th, td {
	border: 1px solid @ini_background_alt !important;
}

th {
	background-color: @ini_background_alt;
	color: @ini_background;
}
.btn-primary, .more-news, #clouds a {
	color: @ini_text_alt;
	background-color: @ini_background_alt;
	border: 1px solid @ini_background_alt;
}
.btn-primary:hover, .more-news:hover, #clouds a:hover {
	color: @ini_text_alt;
	background-color: darken(@ini_background_alt, 10%);
	border: 1px solid darken(@ini_background_alt, 10%);
	text-decoration: none;
}
.btn-primary:focus, .btn-primary.focus, .more-news:focus, .more-news.focus, #clouds a:focus {
	color: @ini_text_alt;
	background-color: @ini_background_alt;
	border: 1px solid @ini_background_alt;
	box-shadow: 0 0 0 0.2rem rgba(255, 72, 0, 0.25) !important;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, .more-news:active, #clouds a:active{
	color: @ini_text_alt !important;
	background-color: @ini_background_alt !important;
	border: 1px solid @ini_background_alt !important;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus, .more-news.active:focus, .more-news:active:focus, #clouds a.active:focus, #clouds a:active:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 72, 0, 0.5) !important;
}
.btn-secondary {
	background-color: darken(@ini_background_neu, 5%);
	border: 1px solid darken(@ini_background_neu, 5%);
}
.btn-secondary:hover {
	background-color: darken(@ini_background_neu, 15%);
	border: 1px solid darken(@ini_background_neu, 15%);
	text-decoration: none;
}
.btn-secondary:focus, .btn-secondary.focus {
	background-color: @ini_background_neu;
	border: 1px solid @ini_background_neu;
	box-shadow: 0 0 0 0.2rem rgba(255, 164, 128, 0.25) !important;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active {
	background-color: @ini_background_neu !important;
	border: 1px solid @ini_background_neu !important;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 164, 128, 0.5) !important;
}

.bs-callout {
	border-left: 2px solid @ini_background_alt;
	padding-left: 8px;
}
.cloud-up, .cloud-down {
	height: 40px;
	width: 100%;
	background: url("images/edge.svg") repeat-x center top;
	z-index: 10;
}
.cloud-up {
	transform: rotate(180deg);
}
.cloud-left, .cloud-right {
	background-image: url("images/cloud.svg?v=3");
	background-size: 100% 100%;
	min-height: 220px;
	max-width: 500px;
	margin: auto;
	padding: 64px 48px;
	align-items: center;
	//Browser lag fix
	transform: translatez(0);
	-webkit-transform: translatez(0);
	h2 {
		text-align: center;
		color: @ini_background_alt;
		padding: 0px;
	}
	p {
		text-align: justify;
	}
}
.cookielaw-banner button {
	margin: 0px 8px;
	width: 60px;
}
.cookielaw-banner {
	background-color: @ini_background_alt;
	box-shadow: none;
	max-width: 100%;
	opacity: 0.8;
}
.dokuwiki textarea.edit {
	font-family: Consolas,"Andale Mono WT","Andale Mono","Bitstream Vera Sans Mono","Nimbus Mono L",Monaco,"Courier New",monospace;
	font-size: 14px;
}
.dokuwiki div.section_highlight {
	margin: 0 -6px;
	padding: 0 4px;
	border: dotted @ini_background_alt;
	border-width: 0 2px;
}
.fks-timer {
	display: block;
	font-size: 1.5rem;
	text-align: center;
}
.footer {
	color: @ini_background;
	background-color: @ini_background_alt;
	text-align: center;
	margin: 0px;
	padding: 8px;
	p {
		vertical-align: middle !important;
	}
	a {
		text-decoration: none;
		color: @ini_background;
		transition: all .3s;
		&:hover {
			filter: brightness(0.85);
		}
	}
	div {
		margin: 8px 0;
	}
}
.gallery .gallery-image {
	background-position: center;
	background-size: cover;
	height: 180px;
	width: 100%;
	min-width: 180px;
}
.gallery_page {
	margin: auto;
}
.gallery_pages {
	width: 100%;
}
.image-show .image-container {
	.caption {
		align-items: flex-end !important;
		background-color: transparent !important;
		opacity: 1;
		transition: background-color .3s;
		div {
			background-color: rgba(255, 72, 0, 0.8);
			width: 100%;
		}
	}
	a:hover > .caption {
		background-color: rgba(0, 0, 0, 0.5) !important;
	}
}
.loader-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	background-color: @ini_background;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: loader-fadeout 2s 1;
	animation-fill-mode: forwards;
}
@keyframes loader-fadeout {
	0%{opacity: 1}
	87.5%{opacity: 1}
	100%{opacity: 0}
}
.loader {
	content: url("images/logo-orange.svg");
	width: 120px;
	display: flex;
}
.plugin-social, .rss {
	display: none;
}
.pull-right {
	float: right;
}
.social a {
	display: inline-block;
	width: 70px;
	height: 104px;
	margin: 0 8px;
	transition: .3s all;
	&:hover {
		filter: none;
	}
	&:hover > img, &:focus > img {
		content: url("icons/vyfucek2.svg");
	}
}
.social img {
	height: 52px;
	width: auto;
	margin: auto;
}
.social #fb-icon {
	background: url("icons/social-fb.svg") no-repeat bottom;
	background-size: 80%;
}
.social #ig-icon {
	background: url("icons/social-ig.svg") no-repeat bottom;
	background-size: 80%;
}
.social #yt-icon {
	background: url("icons/social-yt.svg") no-repeat bottom;
	background-size: 80%;
}
.stream.row {
	max-width: 100%;
	margin: 0;
}
.task-repo.task .tag {
	display: none !important;
}
#aboutIcon {
	height: 50px;
	width: 50px;
	border: 3px solid @ini_background_alt;
	border-radius: 50%;
}
#clouds {
	margin: 16px 0;
	padding: 0;
	position: relative;
	.col-12 {
		padding: 0;
	}
}
#clouds a {
	display: block;
	max-width: 200px;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0.375rem 0.75rem;
	margin: auto;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#content, #landing-page {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}
#content {
	display: flex;
	flex: 1 0 auto;
	-moz-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	transition: .15s ease-in-out;
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition-property: background-position;
	-webkit-transition-property: background-position;
	-moz-transition-property: background-position;
	-o-transition-property: background-position;
}
#dokuwiki {
	background-color: white;
	box-shadow: 0px 0px 10px 4px @ini_background_alt;
	flex: 1 0 auto;
	-moz-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	padding: 20px 40px 60px;
	margin-bottom: -40px;
	text-align: justify;
	a:not(.btn) {
		color: @ini_background_alt;
		span {
			margin-right: 4px
		}
		:visited {
			color: lighten(@ini_background_alt, 20%) !important;
			text-decoration: none;
		}
		&:hover, &:active {
			color: darken(@ini_background_alt, 15%);
			text-decoration: none;
		}
	}
}
#media__content .odd {
	background-color: @ini_background_neu;
}
#media__manager {
	background-color: @ini_background;
	min-height: 100vh;
}
#mediamgr__aside, #mediamgr__content {
	background-color: @ini_background;
}
#media__tree {
	ul li {
		display: list-item;
	}
}
#quickLinks {
	align-items: center;
	margin: 0;
	max-width: 100%;
	a {
		background-image: url("images/cloud-alt.svg?v=2");
		background-size: 100% 100%;
		color: @ini_background;
		display: block;
		font-size: 1.5rem;
		font-weight: 500;
		width: 100%;
		max-width: 320px;
		margin: 16px auto;
		padding: 48px 16px;
		text-align: center;
		z-index: 10;
		//Browser lag fix
		transform: translatez(0);
		-webkit-transform: translatez(0);
	}
	a:hover {
		color: @ini_background;
		text-decoration: none;
	}
}
@media (max-width: 425px) {
	#dokuwiki {
		padding: 1px 2px 54px;
	}
	div.cookielaw-banner {
		padding: 2px;
	}
}
@media (max-width: 991px) {
	body {
		background: none;
	}
	.table td, .table th {
		padding: 1px;
	}
	#dokuwiki {
		padding: 4px 8px 52px;
		margin-bottom: -48px
	}
}