.sticky-top {
	background-color: @ini_background_other;
	width: 100%;
	padding: 0px;
	margin: auto;
}

a.dropdown-item {
	&:active, &:hover {
		background-color: @ini_background_other;
		color: white;
	}
}

.main-container {
	padding: 0px;
	background-color: white;
	max-width: 1280px;
}

h1, h2, h3, h4, h5 {
	margin-top: 1rem;
	padding: 6px;
}

h1 {
	color: @ini_background_other;
	border-bottom: 1px solid @ini_background_other;
	border-top: 1px solid @ini_background_other;
}

p {
	padding-left: 6px;
	padding-right: 6px;
}

button {
	background-color: @ini_background;
	color: @ini_text;
	border-style: solid;
	border-width: 1px;
}

img {
    max-width: 100%;
}

.btn-primary {
	background-color: @ini_background_other;
	border-color: @ini_background_other;
	color: @ini_background;
	&:hover {
		background-color: darken(@ini_background_other, 15%);
		border-color: darken(@ini_background_other, 20%);
		color: @ini_background;
	}
}

.btn-secondary {
	background-color: @ini_background;
	border-color: @ini_background;
	color: @ini_background_other;
	&:hover {
		background-color: darken(@ini_background, 15%);
		border-color: darken(@ini_background, 20%);
		color: @ini_background_other;
	}
}

label {
	width: 100%;
}