
/*
 * 
 *
 * 
 */


@media screen{
    * { 
        padding: 0; margin: 0; 
    }

    html { 
        font-size: 95%;
        height: 0; 
    }

    body {

        font: 90% "Open Sans", Arial, sans-serif;
        background: __background_other__ url(images/vyfuk_bg_color2.jpg) repeat;
        //background: url(http://vyfuk.mff.cuni.cz/_media/o_nas/organizatori/slezakd.jpg);
        background-attachment: fixed;
        color: __text__; 
        line-height: 1.4em;
        text-align: left;

    }


    .wrap{
        max-width: 83em;
        margin-left: auto;
        margin-right: auto;
        border: 1px __background_other__ solid;
        background-color: __background__ ;
        overflow: hidden;
        border-top: 0px;
        -webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
        box-shadow: 0 0 20px  5px rgba(0,0,0,0.3);
    }

    .container-fluid{

        max-width: 83em;
    }

    /*...... <li> nastavenie pre FKSDB.........*/


    .dokuwiki .page {
        li{
            margin-left: 2em;
        } 
        li.open{
            margin-left: 2em;
        }
        li.closed{
            margin-left: 2em;
        }
        li.level3{
            margin-left: 4em;
        }
        li div ul li div ul li {
            margin-left: 6em;
        }
    } 
    .page li{
        margin-left: 2em;
    }


    .navbar li,.breadcrumb li{
        margin-left: 0;
    }




}


