body[data-act=login] {
	background: url("images/login.jpg") no-repeat fixed center;
	background-size: cover;
	button {
		background-color: @ini_background_alt;
		border: 1px solid @ini_background_alt;
		color: @ini_text_alt;
		padding: 8px;
		width: 100%;
	}
	button:hover {
		background-color: darken(@ini_background_alt, 10%);
		border: 1px solid darken(@ini_background_alt, 10%);
		color: @ini_text_alt;
		text-decoration: none;
	}
	button:focus {
		background-color: @ini_background_alt;
		border: 1px solid @ini_background_alt;
		box-shadow: 0 0 0 0.2rem rgba(255, 72, 0, 0.25) !important;
		color: @ini_text_alt;
		outline: none;
	}
	button:active {
		color: @ini_text_alt !important;
		background-color: @ini_background_alt !important;
		border: 1px solid @ini_background_alt !important;
	}
	input {
		border: 1px solid #ced4da;
		border-radius: .25rem;
		color: #495057;
		padding: 8px;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		&[type=text], &[type=password] {
			width: 100%;
		}
		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(255, 72, 0, 0.25);
			border: 1px solid transparent;
			outline: none;
		}
	}
	h1 {
		text-align: center
	}
	#dokuwiki {
		border-radius: 4px;
		flex: none;
		margin: auto;
		max-width: 330px;
		padding: 16px;
	}
	footer, label.block span, .navbar, .navbar-bg, #clouds, #landing-page	{
		display: none;
	}
}
