.loader-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader {
	content: url("images/logo-o.svg");
	width: 160px;
	display: flex;
	animation: loader 3s infinite;
}

@keyframes loader {
	0% {width: 160px; transform: rotate(0deg)}
	25% {width: 240px; transform: rotate(360deg);}
	50% {width: 160px; transform: rotate(0deg)}
	75% {width: 240px; transform: rotate(-360deg);}
	100% {width: 160px; transform: rotate(0deg)}
}
