.bs-callout {
	border-left: 2px solid @ini_background_other
}

.plugin-social, .rss {
	display: none;
}

.cloud-left, .cloud-right {
	background-image: url("images/cloud.svg");
	background-repeat: none;
	background-size: 100% 100%;
	padding: 40px 30px;
	h2 {
		text-align: center;
		color: @ini_background_other;
	}
	p {
		text-align: justify;
	}
}

.cloud-left {
	margin-top: 16px;
	margin-bottom: 128px;
}

.cloud-right {
	margin-top: 128px;
	margin-bottom: 16px;
}	

#aboutInfo {
	text-align: center;
}

#aboutIcon {
	height: 50px;
	width: 50px;
	border: 3px solid @ini_background_other;
	border-radius: 50%;
}

#timer p {
	text-align: center;
	vertical-align: middle;
	font-size: 150%;
}