

#admin__version {
    clear:left;
    float: right;
    color: __text_neu__;
}


ul.admin_tasks {
    font-size: 115%;
    float: left;
    width: 50%;
    list-style-type: none;
    li {
        line-height: 22px;

        margin: 1em 0;

        text-align: left;
        //.btn;
       // .btn-primary;
        display: block;
    }
    li div.li {
        font-weight: bold;
        display: inline-block;
        
        a{

            padding: .5em;
        }

    }
    li.admin_acl:before {
        content: url(../../images/admin/acl.png);
    }
    li.admin_usermanager:before {
        content: url(../../images/admin/usermanager.png);
    }
    li.admin_plugin:before{
        content: url(../../images/admin/plugin.png);

    }
    li.admin_config:before {
        content: url(../../images/admin/config.png);
    }
    li.admin_revert:before {
        content: url(../../images/admin/revert.png);
    }
    li.admin_popularity:before {
        content: url(../../images/admin/popularity.png);
    }
}

@media  (max-width:600px){
    ul.admin_tasks {
        float: none;
        width: 100%;
    }
}

#config__manager{

    input[type=text],select{
        .form-control;
        border-color:#a94442;
        -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow:inset 0 1px 1px rgba(0,0,0,.075)

            &:focus{
            border-color:#843534;
            -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
            box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483
        }
    }

    fieldset{
        background: none;
    }
    table{
        .table; 
        .table-hover;
        tr{
            td{
                border: none;
            }
            border-bottom: 2px solid #ff4800;
        }
    }
    .label,label{

        white-space: normal;
        color:black;
        margin: .5em!important;
        font-size: 100%!important;


    }
    .outkey{
        font-size: 100%!important;
        margin: .5em!important;
    }

    tr.default{
        *{
            background-color:transparent!important; 
        }

        input,textarea,select,.selectiondefault,.edit{



            border-color:#3c763d;
            -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow:inset 0 1px 1px rgba(0,0,0,.075)

                &:focus{
                border-color:#2b542c;
                -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
                box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168
            }
        }
    }



    //.form-primary;



}




