/*
 * Tableless Layout for Wallpaper template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 * @author Klaus Vormweg <klaus.vormweg@gmx.de>
 */

/* -------------- basic page elements -------------- */
* { 
    padding: 0; margin: 0; 
}

html { 
    font-size: 100%;
    height: 0; 
}

body {
    font: 80% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    background: __background_other__ /* url(images/bg_4.jpg) 0 0 repeat-x fixed */ url(images/vyfuk_bg_color2.jpg) repeat;
    background-attachment: fixed;
    color: __text__; 
    line-height: 1.4em;
    text-align: left;
    float: left;
    width: 100%;
}
img#fakebackground {
    width: 100%;	
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
div.dokuwiki {
    min-width: 31em;
    max-width: 85em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    background: __background__;
    border: 1px solid __background_other__;
    box-shadow: 0px 0px 5px 2px __border__;
}

/* -------------- header --------------- */
div.dokuwiki .stylehead {
    /* background-color: transparent;   */
    min-width: 25em;
    width: 100%;
}

div.dokuwiki .header {
    /*background-color: transparent;*/
    height: auto;
}

div.dokuwiki .pagename {
    text-align: left;
    padding: 1em 2em 1em 2em;
    margin-left: auto;
    margin-right: auto;
    /*padding: 0px;*/
    background-color: transparent;
    width: auto;
    height: auto;
    float: left;
}

div.dokuwiki .pagename a {
    font-size: 250%;
    font-weight: bolder;
    color: __text_neu__ !important;
    text-decoration: none !important;
}

div.dokuwiki div.breadcrumbs {
    background: /*url(images/trans50.png) 0 0 repeat transparent;*/ #fffaaa;
    /*border-bottom: 1px solid __border__;*/
    color: __text_neu__;
    font-size: 80%;
    padding: 4px 0 0 4px;
    min-height: 2em;
    margin: 1.5em 0em 0em 0em;
    border-radius: 5px 5px 0px 0px;
    clear:both;
}

/* ---------------  bottom bar ---------------- */
div.dokuwiki .bar {
    /*background-color: __background__;*/
    width: 100%;

    clear: both;
    min-width: 25em;
    margin-top: 0em;
    text-align: center;
}

div.dokuwiki .bar-left {
    float: left;
    padding: 0.1em 0;
}

div.dokuwiki .bar-right {
    float: right;
    text-align: right;
    padding: 0.1em 0;
}

div.dokuwiki #bar__bottom {
    padding: .5em 0px .3em 0px;
    color: __text_neu__;
    margin-bottom: 0em;
    background-color: __background_other__;
    //background-color: __background_other__;
    //border: 1px solid __background_other__;
}

/* ------------- File Metadata ----------------------- */
div.dokuwiki div.stylefoot {
    min-width: 25em;
    width: 100%;
    height: 1.75em;
    clear: both;
    color: __text__;
    background: /*url(images/trans75.png) repeat 0 0 transparent;*/#fffaaa;
    border-radius: 0px 0px 5px 5px;
}

div.dokuwiki div.stylefoot div.meta {
    font-size: 85%;
    text-align: right;
    padding: 0.25em 1em 0.25em 0;
    /*border-top: 1px solid __border__;*/
}
div.dokuwiki div.stylefoot div.meta div.homelink {
    margin: 0 0 0 0.5em;
    float: left;
}
div.dokuwiki div.stylefoot div.meta div.homelink a {
    display: block;
    float: left;
    padding: 0.15em 0.25em 0.5em 1em;
}

/* ------------- the document area ------------- */
div.dokuwiki div.wrap {
    width: 100%;
    overflow: hidden;
    min-width: 31em;

    background: /*url(images/trans75.png) 0 0 repeat transparent;*/#ffffff;
    border-radius: 0px;
    /*background-image: url("../../plugins/fksnewsfeed/images/vyfuk2_bg.png");
    background-position: 100% 0%;
    background-repeat: no-repeat;*/
}

/* ------------- the  menu bar ------------- */
div.dokuwiki div.mainmenu {
    //margin: 0em 0em 5em 0em;
    padding: 0em;
    width: 100%;
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 2px;
    font-size: 140%;
    /*  background-color: __background_alt__; */
    background: /*url(images/trans85.png) 0 0 repeat transparent; */__background__;
    /*height: 3em;*/
    color: __text_other__;
    border-radius: 3px; 
    clear:both;
    //float: right;
}

div.dokuwiki div.mainmenu ul {
    z-index: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold !important;
    height: auto;
    border-radius: 3px;
    height: 100%;
}

div.dokuwiki div.mainmenu ul li {
    margin: 0 0em 0 0em;
    padding: 0;
    float: left;
    /*line-height: 1.25em;*/

    margin-right: 1em;
    margin-left: 0em;
}

div.dokuwiki div.mainmenu ul li div.li {
    font-weight: bold !important;
    background-color: __background__;
}

div.dokuwiki div.mainmenu ul li.hover,
div.dokuwiki div.mainmenu ul li:hover {
    position: relative;
    z-index: 2;
}

div.dokuwiki div.mainmenu ul ul {
    visibility: hidden;
    display: none;
    position: absolute;
    min-width: __menuwidth__;
    width: auto;
    height: auto;
    background-color: __background__;
    top: 100%;
    left: 0;
    z-index: 1;
    margin: 0em 0em 0em 2em;
    padding: 0 1px 0 1px;
    /*border: 1px solid __border__;*/ 
}

div.dokuwiki div.mainmenu ul ul li {
    float: none;
    /*border-top: 1px solid __border__;*/
    padding: 0em;
    margin-right: 0 !important;      
}

div.dokuwiki div.mainmenu ul ul li div.li {
    font-weight: normal !important;
    background-color: __background_neu__ !important;
    border-radius: 3px;
    color: __background__ !important;
}

div.dokuwiki div.mainmenu ul li div.li a {
    color: __text_alt__ !important;
    text-decoration: none !important;
    display: block !important;
    padding: 1em 1em 0.6em 1em;
    border-radius: 3px;
    border-bottom: 1px solid __text_alt__;
}

div.dokuwiki div.mainmenu ul li div.li a:hover,
div.dokuwiki div.mainmenu ul li div.li a:focus {
    color: /*__text_neu__ __color_disabled__*/ __background__ !important;
    background-color: /*__background_other__*/ __text_alt__ !important;
    /*text-transform: uppercase;
    text-decoration: underline !important;*/
}

div.dokuwiki div.mainmenu ul ul li div.li a{
    border: 0px !important;
}

div.dokuwiki div.mainmenu ul ul ul {
    top: -1px;
    left: 99.5%;
}

div.dokuwiki div.mainmenu ul li:hover > ul {
    visibility: visible;
    display: inline;
}

div.dokuwiki div.mainmenu ul li.open {
    padding: 0em 0em 0em 2em;
    /*background-image: url(images/open.gif); 
    background-position: 100% 25%;
    background-repeat: no-repeat;*/
}

div.dokuwiki div.mainmenu ul li.level1 {
    padding: 0em 0em 0em 1.1em;
    /*background-image: url(images/open.gif); 
    background-position: 100% 25%;
    background-repeat: no-repeat;*/
}


div.dokuwiki div.mainmenu ul ul li.open {
    padding-right: 1em;
    /*background-image: url(images/closed.gif); 
    background-position: 98% 25%;
    background-repeat: no-repeat;*/
}

/* ------------- the document ------------- */
div.dokuwiki div.page {
    float: left;
    margin-left: 0em;
    min-width: 25em;
    width: 65%;
    /* width: 780px; */
    padding: 1.5em 1em 1.5em 3em;
    /*background-color: transparent;*/
    height: 100%;
    max-width: 45em;
    margin-right: 0;
    /*margin-right: auto;*/
}

div.dokuwiki div.fkssidebar {
    float: right;
    //max-width: 25em;
    //width: 35%;
    width: 25em;
    padding: 1.5em 3em 1.5em 1em;
    height: 100%;
    margin-bottom: auto;
    padding-bottom: auto;
    /*height: 200%;*/
    //background-color: white;
    //border-left: solid 1px #53DF00;

}
div.fkssidebarhead{
    margin-left: auto;
    margin-right: 0;
    width:90%;
}


/* ------------- the top bar ------------- */
div.dokuwiki div.fkstopbar {
    margin: 0em 0em 0em 0em;
    padding: 0em;
    width: 100%; 
    height: auto;
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 2px;
    font-size: 140%;
    /* background-color: __background_alt__;  */
    background: /*url(images/trans85.png) 0 0 repeat transparent; */__background_other__;
    /*height: 3em;*/
    color: __text_other__;
    /*border-radius: 5px; */
    clear:both;
}

div.dokuwiki div.fkstopbar ul {
    z-index: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold !important;
    height: auto;
    /* border-radius: 5px;  */
}

div.dokuwiki div.fkstopbar ul li {
    margin: 0 0em 0 0em;
    padding: 0;
    float: left;
    /*border-left: 1px solid __text_alt__ ;
    border-right: 1px solid __text_alt__ ; */
    border-radius: 0px;

    /*line-height: 1.25em;*/
}

div.dokuwiki div.fkstopbar ul li div.li {
    //font-weight: bold !important;

}

div.dokuwiki div.fkstopbar ul li.hover,
div.dokuwiki div.fkstopbar ul li:hover {
    position: relative;
    z-index: 2;
}

div.dokuwiki div.fkstopbar ul ul {
    visibility: hidden;
    display: none;
    position: absolute;
    min-width: __menuwidth__;
    width: auto;
    background-color: __background__;
    top: 100%;
    left: 0;
    z-index: 1;
    margin: 0em 0em 0em 2em;
    padding: 0 1px 0 1px;
    /*border: 1px solid __border__;*/
}

div.dokuwiki div.fkstopbar ul ul li {
    float: none;
    /*border-top: 1px solid __border__;*/
    padding: 0em;
    margin-right: 0 !important;
}

div.dokuwiki div.fkstopbar ul ul li div.li {
    font-weight: normal !important;


}

div.dokuwiki div.fkstopbar ul li div.li a {

    color: __background__ !important;
    text-decoration: none !important;
    display: block !important;
    padding: 0.5em 1em 0.4em 1em;
}

div.dokuwiki div.fkstopbar ul li div.li a:hover,
div.dokuwiki div.fkstopbar ul li div.li a:focus {
    color: /*__text_neu__ __color_disabled__*/__background_other__ !important;

    background-color: /*__background_other__*/ __background__ !important;
    /*text-transform: uppercase;
    text-decoration: underline;*/
    border-radius: 3px;
}

div.dokuwiki div.fkstopbar ul ul ul {
    top: -1px;
    left: 99.5%;
}

div.dokuwiki div.fkstopbar ul li:hover > ul {
    visibility: visible;
    display: inline;
}

div.dokuwiki div.fkstopbar ul li.open {
    padding: 0em 0em 0em 2em;
    /*background-image: url(images/open.gif); 
    background-position: 100% 25%;
    background-repeat: no-repeat;*/
}

div.dokuwiki div.fkstopbar ul li.level1 {
    padding: 0em 1.1em 0em 1.1em;

    /*background-image: url(images/open.gif); 
    background-position: 100% 25%;
    background-repeat: no-repeat;*/
}


div.dokuwiki div.fkstopbar ul ul li.open {
    padding-right: 1em;
    /*background-image: url(images/closed.gif); 
    background-position: 98% 25%;
    background-repeat: no-repeat;*/
}


/* ------------- the scroll menu ------------- */                                                
div.scrollmenu{
    position: fixed;
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 2px;
    font-size: 110%;
    width: 100%;
    margin: 0em 2em 0em 0em;
    padding: 0em;
    width: 100%;
    height: auto;
    /* background-color: __background_alt__;  */
    background: /*url(images/trans85.png) 0 0 repeat transparent; */__background_other__;
    /*height: 3em;*/
    color: __background__;
    /*border-radius: 5px; */
    clear: both;
    z-index: 10;
    box-shadow: 0px 0px 5px 2px __border__;

}

div.scrollmenu ul {
    z-index: 0;
    list-style-type: none;
    margin: 0 2em 0 0 ;
    padding: 0;
    font-weight: bold !important;
    height: auto;
    /*border-radius: 3px;*/ 
}

div.scrollmenu ul li {
    margin: 0 0em 0 0em;
    padding: 0;
    float: left;
    /*line-height: 1.25em;*/
}

div.scrollmenu ul li div.li {
    font-weight: bold !important;
    border-radius: 3px;
}

div.scrollmenu ul li.hover,
div.scrollmenu ul li:hover {
    position: relative;
    z-index: 2;
    border-radius: 3px !important;
}

div.scrollmenu ul ul {
    visibility: hidden;
    display: none;
    position: absolute;
    min-width: __menuwidth__;
    width: auto;
    height: auto;
    background-color: __background__;
    color: __text_alt__;       
    top: 100%;
    left: 0;
    z-index: 1;
    margin: 0em 0em 0em 2em;
    padding: 0 1px 1px 1px;
    /*border: 1px solid __border__;*/
    border-radius: 3px;
}

div.scrollmenu ul ul li {
    float: none;
    /*border-top: 1px solid __border__;*/
    margin-top: 2px;
    padding: 0em;
    margin-right: 0 !important;
}

div.scrollmenu ul ul li div.li {
    font-weight: normal !important;
}

div.scrollmenu ul ul li div.li a {
    color: __text_alt__ !important;
    background-color: __background_neu__; 
    text-decoration: none !important;
    display: block !important;
    padding: 1em 1em 0.6em 1em;
    border-radius: 3px;
}

div.scrollmenu ul ul li div.li a:hover,
div.scrollmenu ul ul li div.li a:focus {
    color: /*__text_neu__ __color_disabled__*/ __background_other__ !important;
    background-color: /*__background_other__*/ __background_neu__ !important;
    /*text-transform: uppercase;
    text-decoration: underline;*/
    border-radius: 3px;
}


div.scrollmenu ul li div.li a {
    color: __background__ !important;
    text-decoration: none !important;
    display: block !important;
    padding: 1em 1em 0.6em 1em;
    border-radius: 3px;
}

div.scrollmenu ul li div.li a:hover,
div.scrollmenu ul li div.li a:focus {
    color: /*__text_neu__ __color_disabled__*/ __background_other__ !important;
    background-color: /*__background_other__*/ __background__ !important;
    /*text-transform: uppercase;
    text-decoration: underline;*/
    border-radius: 3px;
}

div.scrollmenu ul ul ul {
    top: -1px;
    left: 99.5%;
}

div.scrollmenu ul li:hover > ul {
    visibility: visible;
    display: inline;
}

div.scrollmenu ul li.open {
    padding: 0em 0em 0em 2em;
    /*background-image: url(images/open.gif); 
    background-position: 100% 25%;
    background-repeat: no-repeat;*/ 
}

div.scrollmenu ul li.level1 {
    padding: 0em 0em 0em 1.1em;
    /*background-image: url(images/open.gif); 
    background-position: 100% 25%;
    background-repeat: no-repeat;*/
}


div.scrollmenu ul ul li.open {
    padding-right: 1em;
    /*background-image: url(images/closed.gif); 
    background-position: 98% 25%;
    background-repeat: no-repeat;*/
}

div.scrollmenu ul.fkstopbaruser li div.li input.button{
    padding: .7em 1em .5em 1em;
}

div.scrollmenu ul.fkstopbaruser li div.li input.button:hover{
    padding: .7em 1em .5em 1em;
}

div.scrollmenu ul.fkstopbarlogo li div a{
    background-image: url('images/logo_vyfuk_white.png');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 1em center;
    padding-left: 6em !important;

}

div.scrollmenu ul.fkstopbarlogo li div a:hover,
div.scrollmenu ul.fkstopbarlogo li div a:focus {
    background-image: url('images/logo_vyfuk_radioactive.png');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 1em center;
    padding-left: 6em !important;

}


/* ------------- the fks top bar ------------- */
ul.fkstopbaruser{
    margin-left: auto;
    float: right;
    padding:  0.5em;
}

//span.fkstopbaruserinfo:before{
    //    content: url('images/smiley_white.png');
    //}
a.fkstopbaruserinfo:before{
    content: url('images/smiley_white.png');
}
a.fkstopbaruserinfo:hover:before,
a.fkstopbaruserinfo:focus:before{
    content: url('images/smiley_radioactive.png');
}

div.dokuwiki ul.fkstopbarlogo div.li{
    margin: 0;
}

div.dokuwiki ul.fkstopbarlogo li div a{
    background: none !important;
    margin: 0 2em 0 1em !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
    border-radius: 3px;
}


span.fkstopbatbeta{
    font-size: 70%;
}

div.dokuwiki div.fksfootbar{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 25em;
    background-color: transparent;

}
div.fksfootbar p{
    text-align: center !important;
    line-height: normal;
    color: __background__;
    letter-spacing: 2px;
    margin-bottom: 0.2em !important;
}

