/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 17, 2014, 12:10:12 AM
    Author     : miso
*/
body[data-do=login] {

    background: __background_other__ no-repeat ;

    background-image: url(images/bg_login_1.jpg) ;
    background-position:center top;


}

div.dokuwiki[data-do=login] h1,
div.dokuwiki[data-do=login] h2,
div.dokuwiki[data-do=login] h3,
div.dokuwiki[data-do=login] h4,
div.dokuwiki[data-do=login] h5 {
    background-color: transparent;   
}
@media(min-width:1325px){
body[data-do=login] div.fksmenu{
    display:none;
    position: absolute;
    width: 100%;
}
}
div.dokuwiki[data-do=login] h1{

    border-bottom: none;
}
div.dokuwiki[data-do=login] div.fn{
    color:white;
}
div.dokuwiki[data-do=login] legend{
    background-color: transparent;
    font-family: gloria-hallelujah,sans-serif;
    border: none;
}
@media(min-width:1325px){
    body[data-do=login] div.fks_minimenu{
        display:block;
        position: absolute;
        left:10px;
        top: 10px;
    }
}
div.dokuwiki[data-do=login] div.page div p {
    min-width:25em;
    color:white;
    font-size: 130%;
}

div.dokuwiki[data-do=login] div.wrap{
    margin-top: 5em;  
    background: none;

    border: none;
    background: none;
    box-shadow: none;

}
div.dokuwiki[data-do=login] div.page{

    box-shadow: 0px 0px 5px 2px __border__;
    background-color: rgba(2,2,2,0.7);        
    float: left;
    width: 100%;
    max-width: none;
    padding-bottom:0 !important;
    padding-right:0 !important;
}
div.dokuwiki[data-do=login] div.page  fieldset{

    margin-top: 3em;
}
div.dokuwiki[data-do=login] div.centeralign{
    float: right;
    box-shadow: 0px 0px 5px 2px __border__;
    background-color: rgba(255,255,255,0.7);
    margin-left: 1em;
}

div.dokuwiki[data-do=login] div.fks_vyfucek{
    display: none;
}
div.dokuwiki[data-do=login] div.fks_mrak_1{
    display: none;
}
div.dokuwiki[data-do=login] div.fks_mrak_2{
    display: none;
}

div.dokuwiki[data-do=login] #bar__bottom {
    display: none;
}

