/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 17, 2014, 12:10:12 AM
    Author     : miso
*/
@media screen{
    body[data-do=login] {

        background: __background_other__ no-repeat ;

        background-image: url(images/bg_login_1.jpg) ;
        background-position:center top;
        h1,h2,h3,h4,h5 {
            background-color: transparent;   
        }
        h1{
            border-bottom: none;
        }
        .fn{
            color:white;
        }


        fieldset{

            margin-top: 3em;
        }


        .fks_vyfucek{
            display: none;
        }
        .fks_mrak_1{
            display: none;
        }
        .fks_mrak_2{
            display: none;
        }
        .fkspagename{
            max-width: 330px;

        }
        .wrap{
            border: none;
            background-color: transparent;
            text-align:center;
            .page {  
                border-radius: 5px;
                margin-left: auto;
                margin-right: auto;
                max-width: 330px;
                background-color:white;
                padding: .7em ;


                .centeralign{
                    width:100%;

                    label{                        
                        span{

                            .input-group-addon;
                        }
                        input{
                            width: 100%;
                            display:block;
                            .form-control;
                        }
                        background-color: transparent;
                        font-family: gloria-hallelujah,sans-serif;
                        border: none;
                    }
                    .button{
                        .btn;
                        .btn-success;
                        color:white!important;
                    }
                }                
            } 
        }
        .fksfootbar{
             display: none;
        }
    }



    body[data-do=login] div.fksmenu{
        display:none;

    }



}


